<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user_name %></h1>

    <p>To recover your password, click on the link bellow.</p>
    <p>If clicking doesn't work, try copying and pasting into
    your browser url field.</p> <br/>
    <a target='_blank' href="<%= @recovery_link %>"><%= @recovery_link %></a>
    
  </body>
</html>
